body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(
        red 50%,
        black 50%,
        black 52%,
        white 52%
    );
}

@font-face {
    font-family: 'Pokemon';
    src: url('../fonts/Pokemon Solid.ttf') format('truetype');
}

.form-container {
    background-color: white;
    width: 70%;
    border-radius: 15px;
    overflow: hidden;
    border: 10px solid black;
    height: 90%;
    display: flex;
    align-items: center;
}

.form-container .login-container {
    width: 500px;
    margin: 0 auto;
}

.form-container .login-container > h2 {
    font-family: 'Pokemon', sans-serif;
    text-align: center;
    font-size: 4rem;
    color: #ffcb05;
    text-shadow: 5px 5px 0 #3b4cca;
}

.form-container .login-container > p,
.form-container .login-container > span {
    text-align: center;
    color: #555;
}

.form-container .login-container label {
    display: block;
    font-weight: bold;
    padding: 5px 0;
}

.changelog-mode .login-container {
    width: 80%; 
    max-width: 900px;
}

.changelog-mode .changelog-list {
    height: 50vh;
}

.form-container .login-container input[type="text"],
.form-container .login-container input[type="password"] {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: solid 1px #ccc;
    border-radius: 5px;
}

.form-container .login-container input[type="text"]:focus,
.form-container .login-container input[type="password"]:focus {
    outline: solid 1px #0099ff;
}

.form-container .login-container .options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-container a {
    color: #0099ff;
    text-decoration: none;
}

.form-container a:hover {
    text-decoration: underline;
}

.form-container .login-container .providers {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    margin-top: 10px;
}
.btn {
    border: none;
    padding: 15px 0;
    width: 100%;
    font-weight: bolder;
    display: block;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-login {
    background: linear-gradient(to bottom, #ff0000 0%, #cc0000 100%);
    color: white;
    font-family: 'Pokemon', sans-serif;
    font-size: 1rem;
    border: 2px solid black;
    border-radius: 30px;
    box-shadow: 0 5px 0 #000;
    text-shadow: 2px 2px #000;
    transition: all 0.2s;
}

.btn-login:hover {
    background: linear-gradient(to bottom, #ff5555 0%, #cc0000 100%);
    transform: translateY(2px);
    box-shadow: 0 3px 0 #000;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}


.changelog-list {
    background-color: #f8f9fa;
    border: 2px inset #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    height: 60vh;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.changelog-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-family: monospace;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    
    opacity: 0; 
    animation: behetikSartu 0.5s ease-out forwards;

}

.changelog-item:nth-child(1) { animation-delay: 0.1s; }
.changelog-item:nth-child(2) { animation-delay: 0.2s; }
.changelog-item:nth-child(3) { animation-delay: 0.3s; }
.changelog-item:nth-child(4) { animation-delay: 0.4s; }
.changelog-item:nth-child(5) { animation-delay: 0.5s; }

.sprite {
    margin-right: 10px;
}

.changelog-text {
    background: white;
    padding: 5px 10px;
    border: 1px solid black;
    width: 100%;
}

.sprite img {
    width: 32px;
    height: 32px;
    image-rendering: pixelated;
    display: block;
}

.search-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    padding: 0 15px;
}

.search-form {
    display: flex;
    gap: 10px; 
    width: 100%;
    max-width: 600px; 
}
.search-input {
    flex-grow: 1;
    padding: 10px 15px;
    border: 2px solid #ddd;
    border-radius: 25px;
    font-size: 1rem;
    outline: none; 
    transition: border-color 0.3s ease;
}

.form-container .login-container .top-bar > h2 {
    font-family: 'Pokemon', sans-serif;
    text-align: center;
    font-size: 3.0rem;
    color: #ffcb05;
    text-shadow: 5px 5px 0 #3b4cca;
}

.icon-btn, a.icon-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #ddd;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
    color: black;
    text-decoration: none; 
    font-size: 1.2rem; 
    transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.icon-btn:active, a.icon-btn:active {
    transform: scale(0.95);
}

.icon-btn:hover, a.icon-btn:hover {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    border-color: #cc0000; 
}


.icon-btn:hover i, a.icon-btn:hover i {
    color: #cc0000; 
}

@keyframes behetikSartu {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}