<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Changelog</title>
        <link rel="stylesheet" href="../static/css/style.css">
        <title>Changelog</title>
    </head>
    <body>
        <div class="form-container">
    <div class="login-container">

        <div class="top-bar">
            <button class="icon-btn">↩</button>
            <h2>CHANGELOG</h2>
            <button class="icon-btn">🏠</button>
        </div>

        <div class="changelog-list">

            <div class="changelog-item">
                <span class="sprite">
                    <img src="../static/img/rojo.gif" alt="Sprite">
                </span>
                <span class="changelog-text">Juan: Añadido sistema de login</span>
            </div>

            <div class="changelog-item">
                <span class="sprite">
                    <img src="../static/img/rojo.gif" alt="Sprite">
                </span>
                <span class="changelog-text">Ignacio: Mejoras de rendimiento</span>
            </div>

            <div class="changelog-item">
                <span class="sprite">
                    <img src="../static/img/rojo.gif" alt="Sprite">
                </span>
                <span class="changelog-text">XXX: Corrección de bugs</span>
            </div>

            <div class="changelog-item">
                <span class="sprite">
                    <img src="../static/img/rojo.gif" alt="Sprite">
                </span>
                <span class="changelog-text">XXX: Cambios visuales</span>
            </div>

        </div>
        <button class="btn btn-login">BILATU</button>
    </body>
</html>
