<!DOCTYPE html>
<html lang="eu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex - Taldearen Kudeaketa</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="../static/css/style.css"> 
</head>
<body>

    <div class="form-container">
        <div class="nav-bar">
            <i class="fas fa-reply nav-icon"></i>
            <i class="fas fa-home nav-icon"></i>
        </div>
    
        <div class="main-content">
            <div class="sidebar-actions">
                <button class="action-btn large-text">EZABATU</button>
                <button class="action-btn large-text">GORDE</button>
            </div>
    
            <div class="pokemon-grid">
                <div class="pokemon-card">
                    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/572.png" alt="Minccino">
                </div>
                <div class="pokemon-card">
                    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/1.png" alt="Bulbasaur">
                </div>
                <div class="pokemon-card">
                    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/25.png" alt="Pikachu">
                </div>
                <div class="pokemon-card">
                    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/197.png" alt="Umbreon">
                </div>
                
                <div class="pokemon-card add-card">
                    <button class="add-pokemon-btn">+</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>