<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Talde Kudeaketa</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="../static/css/taldeak.css">
</head>
<body>

    <div class="form-container">
        <!-- Atzera eta etxeko ikonoak -->
        <div class="nav-bar">
            <a href="{{ url_for(menu_endpoint) }}" class="icon-btn">
                <i class="fas fa-reply nav-icon" title="Atzera"></i>
            </a>
            <a href="{{ url_for(menu_endpoint) }}" class="icon-btn">
                <i class="fas fa-home nav-icon" title="Hasiera"></i>
            </a>

        </div>

        <div class="list-container" id="taldes-list">
            <!-- Erabiltzaileak dituen taldeen zerrenda -->
            <div class="column">
                <div class="row">
                    <!-- Talde berria sortzeko errenkada-->
                    <form action="{{ url_for('taldeak.sortu_taldea') }}" method="post">
                        <button type="submit" class="action-btn add">+</button>
                    </form>                    
                    <input type="text" class="talde-input new" value="TALDE BERRIA" readonly>
                </div>        

                {% for talde in taldeak %}
                <div class="row">
                    <!-- Erabiltzaileak sortu dituen taldeen zerrenda-->
                    <form action="{{ url_for('taldeak.taldea', izena=talde.izena) }}" method="post">
                        <input type="hidden" name="talde_izena" value="{{ talde.izena }}">
                        <button type="submit" class="action-btn add">EDIT</button>
                    </form>     
                    <input type="text" class="talde-input" value="{{ talde.izena }}" readonly>
                </div>
                {% endfor %}
            </div>

            </div>
    </div>

</body>
</html>