<!DOCTYPE html>
<html lang="eu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex - Taldearen Kudeaketa</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="../static/css/taldeak.css"> 
</head>
<body>

    <div class="form-container">
        <div class="nav-bar">
            <i class="fas fa-reply nav-icon" onclick="window.history.back()" title="Atzera"></i>

            <a href="{{ url_for(menu_endpoint) }}" class="icon-btn">
                <i class="fas fa-home nav-icon" title="Hasiera"></i>
            </a>
        </div>
    
        <!-- Taldea Name Section -->
        <div class="taldea-name-container">
            <h1 class="taldea-name">{{ session.get('editatzen_ari_den_taldea') }}</h1>
        </div>
    
        <div class="main-content">
            <div class="sidebar-actions">
                <a href="{{ url_for('taldeak.taldeak_kargatu') }}">
                    <button class="action-btn large-text">GORDE</button>
                </a>
                <a href="{{ url_for('taldeak.taldea_ezabatu') }}" onclick="return confirm('Ziur zaude talde hau ezabatu nahi duzula?');">
                    <button class="action-btn large-text">EZABATU</button>
                </a>
            </div>
    
            <div class="pokemon-grid">
                {% for pokemon in pokemons %}
                    <a href="{{ url_for('pokedex.pokemon', id=pokemon['pokeID'], akzioa='aldatu_pokemon') }}" class="pokemon-card">
                        <img src="{{ pokemon['argazkia'] }}" 
                             loading="lazy">
                        <span>{{ pokemon.izena }}</span>
                    </a>
                {% endfor %}
                
                {% if pokemons|length < 6 %}
                <div class="pokemon-card add-card">
                    <form action="{{ url_for('pokedex.pokedex') }}" method="post">
                        <input type="hidden" name="akzioa" value="hauta_pokemon">
                        <button type="submit" class="add-pokemon-btn">+</button>
                    </form>  
                </div>
                {% endif %}
            </div>
        </div>
    </div>

</body>
</html>